@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.input-red{
  background-color: orangered;
  border: 1px solid red;
  box-shadow: 0 0 1px 1px lightgray;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 50%;
}

.todo{
  margin: .5rem;
  background: #efefef;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1px 1px #dedede;
}
.todo li{
  flex: 1;
}

.complete-btn, .trash-btn{
  width: 2.5rem;
  height: 2.5rem;
  background: orangered;
  border: 1px solid #456;
  color: #efefef;
  box-shadow: 0 0 1px 1px #dedede;

}
.complete-btn{
  background-color: rgb(11, 161, 11);
}
.todo-item{
  padding: 0 .5rem;
}

.fa-trash, .fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;

}





